<!DOCTYPE html>
<html>
  <head>
    <script type="text/javascript">
      window.onload = function () {
        drawRuler()
        function drawRuler() {
          let canvas = document.getElementById('ruler')
          let context = canvas.getContext('2d')
          let spacing = 20
          context.lineWidth = 1
          context.strokeStyle = '#000'
          context.beginPath()
          for (let interval = 0; interval < 50; interval++) {

            context.moveTo(interval * spacing + 0.5, 20)
            context.lineTo(interval * spacing + 0.5, 12)
            context.stroke()

            // Vertical
            // context.moveTo(0, interval * spacing + 1)
            // context.lineTo(50, interval * spacing + 1)
            // context.stroke()
          }
        }
      } 
    </script>
  </head>
  <body>
    <canvas id="ruler" width="800" height="20"></canvas>
  </body>
</html>
