body {
  font-family: Helvetica, Arial, sans-serif;
  background-color: #ccc;
  padding: 20px;
  margin: 0 531px;
}

h1 {
  font-family: Helvetica, Arial, sans-serif;
  color: #000;
  font-size: 25px;
  font-weight: bold;
}

// Common styles for all slider containers

.range-slider__main-wrapper {
  position: relative;
  background: url(../images/design/panorama-city-background.jpg) repeat-x;
  background-size: cover;
  height: 179px;
  width: 100%;
  
  &.range-slider_vertical {
    background: url(../images/design/vertical-background.jpg) repeat-y;
    width: 449px;
    height: 615px;

    .scale__wrapper {
      position: absolute;
      background: black;
      right: 55px;
      width: 15px;
      height: 100%;
    
      canvas.scale__ruler {
        margin: 0 15px;
        height: 100%;
        z-index: 2;
        width: 155px;
      }
    }

    .runner {
      cursor: pointer;
      position: absolute;
      right: 81px;
      left: auto !important;
      height: 100px;
      background: url(../images/design/climber-vertical-cropped.png) no-repeat;
      background-size: contain;
    }

    .runner:before {
      content: attr(data-position) "м";
      background: url(../images/design/tooltip.png) no-repeat;
      background-size: cover;
      left: -16px;
      top: -40px;
  }
    
  }
}

.message {
  width: 300px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
}

.scale__wrapper {
  position: absolute;
  background: black;
  bottom: 0;
  height: 15px;
  width: 100%;

  canvas.scale__ruler {
    margin-top: 15px;
    width: 100%;
    // background: red;
    z-index: 2;
  }
}

.runner {
  position: absolute;
  background: red;
  border-radius: 7px;
  height: 15px;
  width: 15px;
  bottom: 0;
  &:active {
    transition: all 1s ease-in-out;
    transform: translate(0, -45px);
  }
}

.bar__wrapper {
  position: absolute;
  bottom: 0;
  height: 15px;
}

// SKINS STYLES

// City skin
.city {
  .range-slider__main-wrapper {
    background: url(../images/design/panorama-city-background.jpg) repeat-x;
  }

  .runner {
    cursor: pointer;
    position: absolute;
    bottom: 15px;
    left: 0;
    width: 75px;
    height: 100px;
    background: url(../images/design/runner-cropped.gif) no-repeat;
    background-size: contain;
  }

  .runner:before {
    content: attr(data-position) 'м';
    background: url(../images/design/tooltip.png) no-repeat;
    background-color: #ccc;
    background-size: cover;
    width: 55px;
    height: 50px;
    z-index: 2;
    position: absolute;
    color: black;
    text-align: center;
    line-height: 50px;
    font-weight: bold;
    left: 25px;
    top: -55px;
    font-size: 12px;
  }

  [data-tooltip='false']:before {
    display: none;
  }

  .bar__wrapper {
    background: greenyellow;
    background-size: contain;
  }
}

.sonic {
  &.range-slider__main-wrapper {
    background: url(../images/design/sonic-loop-background.png) repeat-x;
    background-size: 90%;
  }

  .runner {
    cursor: pointer;
    position: absolute;
    bottom: 40px;
    left: 0;
    width: 75px;
    height: 85px;
    background: url(../images/design/sonic_runner.gif) no-repeat;
    background-size: contain;
  }

  .bar__wrapper {
    background: url(../images/design/burning-road_cropped.gif) repeat-x;
    background-size: contain;
  }
}

.mario {
  &.range-slider__main-wrapper {
    background: url(../images/design/mario-loop-background.jpg) repeat-x;
    background-size: contain;
  }

  .runner {
    cursor: pointer;
    position: absolute;
    bottom: 15px;
    left: 0;
    width: 75px;
    height: 85px;
    background: url(../images/design/mario_runner.gif) no-repeat;
    background-size: contain;
  }
  .bar__wrapper {
    background: red;
    background-size: contain;
  }
}
.impostor {
  &.range-slider__main-wrapper {
    background: url(../images/design/mario-loop-background.jpg) repeat-x;
    background-size: contain;
  }

  .runner {
    cursor: pointer;
    position: absolute;
    bottom: 15px;
    left: 0;
    width: 75px;
    height: 85px;
    background: url(../images/design/impostor_runner.gif) no-repeat;
    background-size: contain;
  }
  .bar__wrapper {
    background: red;
    background-size: contain;
  }
}

.finish {
  background: url(../images/design/finish-line.png) no-repeat;
  background-size: contain;
  position: absolute;
  left: 650px;
  top: 70px;
  width: 230px;
  height: 115px;
  z-index: 1;
}

.congratulations-message {
  font-family: 'DINP-R';
  font-size: 30px;
  position: absolute;
  top: 170px;
  left: 75px;
  border: 5px dotted orange;
}
